/* human-css-colors/index[css]: main code */

/* Overfide these values to change global defaults. */
:root {
  --global-hue:          240;
  --global-saturation:   60%;
  --global-lightness:    60%;
  --global-alpha:        1.0;
}

/* Do no color calculation unless the `color` attribute is present. */
[color] {
  --hue: var(--global-hue);
  --saturation: var(--global-saturation);
  --lightness: var(--global-lightness);
  --alpha: var(--global-alpha);

  --color: hsla(var(--hue, 0), var(--saturation, 50%), var(--lightness, 50%), var(--alpha, 1.0));
}

[red]        { --hue: 0;   }
[orange]     { --hue: 30;  }
[yellow]     { --hue: 60;  }
[lime]       { --hue: 90;  }
[green]      { --hue: 120; }
[aquamarine] { --hue: 150; }
[cyan]       { --hue: 180; }
[azure]      { --hue: 210; }
[blue]       { --hue: 240; }
[purple]     { --hue: 270; }
[magenta]    { --hue: 300; }
[pink]       { --hue: 300; }

[pure]       { --saturation: 100%; }
[x-bright]   { --saturation: 80%;  }
[bright]     { --saturation: 60%;  }
[medium-bright] { --saturation: 50%; }
[dull]       { --saturation: 40%;  }
[x-dull]     { --saturation: 20%;  }
[gray]       { --saturation: 0%;   }

[purer]      { --saturation: calc(var(--global-saturation) + 10%); }
[brighter]   { --saturation: calc(var(--global-saturation) + 10%); }
[duller]     { --saturation: calc(var(--global-saturation) - 10%); }
[grayer]     { --saturation: calc(var(--global-saturation) - 10%); }
[x-purer]    { --saturation: calc(var(--global-saturation) + 20%); }
[x-brighter] { --saturation: calc(var(--global-saturation) + 20%); }
[x-duller]   { --saturation: calc(var(--global-saturation) - 20%); }
[x-grayer]   { --saturation: calc(var(--global-saturation) - 20%); }

[white]      { --lightness: 100%; }
[x-light]    { --lightness: 80%;  }
[light]      { --lightness: 60%;  }
[medium-light] { --lightness: 50%; }
[dark]       { --lightness: 40%;  }
[x-dark]     { --lightness: 20%;  }
[black]      { --lightness: 0%;   }

[whiter]     { --lightness: calc(var(--global-lightness) + 10%); }
[lighter]    { --lightness: calc(var(--global-lightness) + 10%); }
[x-whiter]   { --lightness: calc(var(--global-lightness) + 20%); }
[x-lighter]  { --lightness: calc(var(--global-lightness) + 20%); }
[darker]     { --lightness: calc(var(--global-lightness) - 10%); }
[blacker]    { --lightness: calc(var(--global-lightness) - 10%); }
[x-darker]   { --lightness: calc(var(--global-lightness) - 20%); }
[x-blacker]  { --lightness: calc(var(--global-lightness) - 20%); }

[opaque]        { --alpha: 1.0; }
[translucent]   { --alpha: 0.8; }
[x-translucent] { --alpha: 0.6; }
[transparent]   { --alpha: 0;   }

[currentColor] { --color: currentColor; }

/* RESET GLOBALS USING `hue`, `saturation`, `lightness` and `alpha` classes */
[hue][red]             { --global-hue: 0; }
[hue][orange]          { --global-hue: 30; }
[hue][yellow]          { --global-hue: 60; }
[hue][lime]            { --global-hue: 90; }
[hue][green]           { --global-hue: 120; }
[hue][aquamarine]      { --global-hue: 150; }
[hue][cyan]            { --global-hue: 180; }
[hue][azure]           { --global-hue: 210; }
[hue][blue]            { --global-hue: 240; }
[hue][purple]          { --global-hue: 270; }
[hue][magenta]         { --global-hue: 300; }
[hue][pink]            { --global-hue: 330; }

[saturation][pure]     { --global-saturation: 100%var(--saturation-pure);     }
[saturation][x-bright] { --global-saturation: 80%; }
[saturation][bright]   { --global-saturation: 60%; }
[saturation][medium-bright]   { --global-saturation: 50%; }
[saturation][dull]     { --global-saturation: 40%; }
[saturaation][x-dull]  { --global-saturation: 20%; }
[satuation][gray]      { --global-saturation: 0%; }

[lightness][white]     { --global-lightness: 100%; }
[lightness][x-light]   { --global-lightness: 80%; }
[lightness][light]     { --global-lightness: 60%; }
[lightness][medium-light] { --global-lightness: 50%; }
[lightness][dark]      { --global-lightness: 40%; }
[lightness][x-dark]    { --global-lightness: 20%; }
[lightness][black]     { --global-lightness: 0%; }

[alpha][opaque]        { --global-alpha: 1.0; }
[alpha][translucent]   { --global-alpha: 0.8; }
[alpha][x-translucent] { --global-alpha: 0.6; }

/* HTML COLORS */
[aliceblue] { --color: aliceblue; }
[antiquewhite] { --color: antiquewhite; }
[aqua] { --color: aqua; }
[aquamarine][html] { --color: aquamarine; }
[azure][html] { --color: azure; }
[beige] { --color: beige; }
[bisque] { --color: bisque; }
[blanchedalmond] { --color: blanchedalmond; }
[blue][html] { --color: blue; }
[blueviolet] { --color: blueviolet; }
[brown] { --color: brown; }
[burlywood] { --color: burlywood; }
[cadet] { --color: cadet; }
[chartreuse] { --color: chartreuse; }
[chocolate] { --color: chocolate; }
[coral] { --color: coral; }
[cornflower] { --color: cornflower; }
[cornsilk] { --color: cornsilk; }
[crimson] { --color: crimson; }
[cyan][html] { --color: cyan; }
[darkblue] { --color: darkblue; }
[darkcyan] { --color: darkcyan; }
[darkgoldenrod] { --color: darkgoldenrod; }
[darkgray] { --color: darkgray; }
[darkgreen] { --color: darkgreen; }
[darkkhaki] { --color: darkkhaki; }
[darkmagenta] { --color: darkmagenta; }
[darkolivegreen] { --color: darkolivegreen; }
[darkorange] { --color: darkorange; }
[darkorchid] { --color: darkorchid; }
[darkred] { --color: darkred; }
[darksalmon] { --color: darksalmon; }
[darkseagreen] { --color: darkseagreen; }
[darkslateblue] { --color: darkslateblue; }
[darkslategray] { --color: darkslategray; }
[darkturquoise] { --color: darkturquoise; }
[darkviolet] { --color: darkviolet; }
[deeppink] { --color: deeppink; }
[deepskyblue] { --color: deepskyblue; }
[dimgray] { --color: dimgray; }
[dodger] { --color: dodger; }
[gainsboro] { --color: gainsboro; }
[green][html] { --color: webgreen; }
[greenyellow] { --color: greenyellow; }
[honeydew] { --color: honeydew; }
[hotpink] { --color: hotpink; }
[indianred] { --color: indianred; }
[indigo] { --color: indigo; }
[ivory] { --color: ivory; }
[khaki] { --color: khaki; }
[lavender] { --color: lavender; }
[lavenderblush] { --color: lavenderblush; }
[lawngreen] { --color: lawngreen; }
[lemonchiffon] { --color: lemonchiffon; }
[lightblue] { --color: lightblue; }
[lightcoral] { --color: lightcoral; }
[lightcyan] { --color: lightcyan; }
[lightgoldenrod] { --color: lightgoldenrod; }
[lightgray] { --color: lightgray; }
[lightgreen] { --color: lightgreen; }
[lightpink] { --color: lightpink; }
[lightsalmon] { --color: lightsalmon; }
[lightseagreen] { --color: lightseagreen; }
[lightskyblue] { --color: lightskyblue; }
[lightslategray] { --color: lightslategray; }
[lightsteelblue] { --color: lightsteelblue; }
[lightyellow] { --color: lightyellow; }
[lime][html] { --color: lime; }
[limegreen] { --color: limegreen; }
[linen] { --color: linen; }
[magenta][html] { --color: magenta; }
[maroon] { --color: maroon; }
[webmaroon] { --color: webmaroon; }
[mediumaquamarine] { --color: mediumaquamarine; }
[mediumblue] { --color: mediumblue; }
[mediumorchid] { --color: mediumorchid; }
[mediumpurple] { --color: mediumpurple; }
[mediumseagreen] { --color: mediumseagreen; }
[mediumslateblue] { --color: mediumslateblue; }
[mediumspringgreen] { --color: mediumspringgreen; }
[mediumturquoise] { --color: mediumturquoise; }
[mediumvioletred] { --color: mediumvioletred; }
[midnightblue] { --color: midnightblue; }
[mintcream] { --color: mintcream; }
[mistyrose] { --color: mistyrose; }
[moccasin] { --color: moccasin; }
[navajowhite] { --color: navajowhite; }
[oldlace] { --color: oldlace; }
[olive] { --color: olive; }
[olivedrab] { --color: olivedrab; }
[orange][html] { --color: orange; }
[orangered] { --color: orangered; }
[orchid] { --color: orchid; }
[palegoldenrod] { --color: palegoldenrod; }
[paleturquoise] { --color: paleturquoise; }
[palevioletred] { --color: palevioletred; }
[papayawhip] { --color: papayawhip; }
[peachpuff] { --color: peachpuff; }
[peru] { --color: peru; }
[pink][html] { --color: pink; }
[plum] { --color: plum; }
[powderblue] { --color: powderblue; }
[purple][html] { --color: purple; }
[webpurple] { --color: webpurple; }
[rebeccapurple] { --color: rebeccapurple; }
[red][html] { --color: red; }
[rosybrown] { --color: rosybrown; }
[royalblue] { --color: royalblue; }
[saddlebrown] { --color: saddlebrown; }
[salmon] { --color: salmon; }
[sandybrown] { --color: sandybrown; }
[seagreen] { --color: seagreen; }
[seashell] { --color: seashell; }
[sienna] { --color: sienna; }
[silver] { --color: silver; }
[skyblue] { --color: skyblue; }
[slateblue] { --color: slateblue; }
[slategray] { --color: slategray; }
[snow] { --color: snow; }
[springgreen] { --color: springgreen; }
[steelblue] { --color: steelblue; }
[tan] { --color: tan; }
[teal] { --color: teal; }
[thistle] { --color: thistle; }
[tomato] { --color: tomato; }
[turquoise] { --color: turquoise; }
[violet] { --color: violet; }
[wheat] { --color: wheat; }
[whitesmoke] { --color: whitesmoke; }
[yellow][html] { --color: yellow; }
[yellowgreen] { --color: yellowgreen; }
